@page
@model ClusterModel
@{
    ViewData["Title"] = "Cluster Assignment";
}
<h2>@ViewData["Title"]</h2>

<canvas id="cluster" width="400" height="300"></canvas>

<script type="text/javascript">
    window.datasets = [
        {
            label: 'Points',
            borderWidth: 0,
            pointRadius: 5,
            data: @Model.PointsToJson()
        }
    ]
</script>